*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'title';
    src: url(../font/irsans_P30Day.com.ttf);
}
@font-face{
    font-family: 'brad';
    src: url(../font/BRADHITC.TTF);
}

body{
    background-image: url(pic/d1da81f1-f62e-48f4-92e7-20e049bfdd87.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'title';
    border: 2px solid green;
   height: 100vh;
  
    
}

.all{
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    border-radius: 20px;
    gap: 8px;
    height: 100%;
    align-items: center;
    justify-content: center;
    
   

}
.left{
    width: 50%;
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    border-right: 1px solid rgba(255,255,255,0.2);
    padding: 10px;
  
    
}
h1{
    text-shadow: 0 2px 10px rgba(214, 20, 20, 0.5);
    font-family: 'brad';
    letter-spacing: 30px;
    text-decoration: underline;
    text-underline-offset: 8px;

}
.login{
    text-align: center;
    max-width: 40%;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}
.input{
    font-size: x-large;
    width: 90%;
    margin-top: 30px;
    border-left: none;
    border-right: none;
    text-align: center;
    border: none;
    box-shadow: 0px 2px 2px #d35400;
    font-family: 'title';
    border-radius: 5px;

}
label{
    font-size: 20px;
    font-weight: lighter;
}
button{
    margin-top: 20px;
}



.button{
    width:50%;

}
button{
    width: 100%;
    font-size: x-large;
    background-color: #e67e22;
    color: white;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'title';
}
button:hover{
    background-color: #d35400;
    transform: translateY(-4px);
}


#radio{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    font-family: 'title';
}
.box_permition{
    width: 100%;
    box-shadow: 2px 3px 3px black;
   overflow-y: scroll;
    margin-top: 10px;
    background-color:rgba(0, 0, 0, 0.3) ;
    text-shadow: 0 1px 4px black;

}
.accept{
    color: black;
    font-size: larger;
    display: block;
}
input:focus{
    border: none;
    outline: none;
}
.error{
    text-align: center;
    font-weight: bolder;
    font-weight: 800;
  
   
}
h4{
    text-align: center;
    background-color: yellow;
}
@media(max-width:750px){
    .box_sms{
        width: 74%;
    }


}
@keyframes gradientMove{
    0%{
        background: linear-gradient(90deg,#005a61,#03b7c4,#2ebe6a);
    }
    10%{
         background: linear-gradient(90deg,#005a61,#2ebe6a,#03b7c4,);
    }
    20%{
        background: linear-gradient(90deg,#03b7c4,#005a61,#2ebe6a);
    }
    30%{
        background: linear-gradient(90deg,#03b7c4,#2ebe6a,#005a61);
    }
    40%{
         background: linear-gradient(90deg,#2ebe6a,#005a61,#03b7c4);
    }
    50%{
        background: linear-gradient(90deg,#2ebe6a,#03b7c4,#005a61);
    }
    60%{
         background: linear-gradient(90deg,#005a61,#2ebe6a,#03b7c4,);
    }
    70%{
        background: linear-gradient(90deg,#03b7c4,#005a61,#2ebe6a);
    }
    80%{
        background: linear-gradient(90deg,#03b7c4,#2ebe6a,#005a61);
    }
    90%{
         background: linear-gradient(90deg,#2ebe6a,#005a61,#03b7c4);
    }
    100%{
        background: linear-gradient(90deg,#2ebe6a,#03b7c4,#005a61);
    }
}
.box_coding{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.code{
    width: 80%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    border: none;
    font-size: large;
    color: rgb(255, 255, 255);
    font-family: 'vazir';
    backdrop-filter: blur(20px);
    padding: 3px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.8);
    margin-top: 5px;
   
  
    

}
.code:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.8);
}
.box_coding{
    width: 80%;
    text-align: center;
}
#send_code{
    width: 60%;
    animation: gradientMove 4s infinite;
    
}
.send{
    width: 80%;
    text-align: center;
   
    margin-left:auto ;
    margin-right: auto;
}
.box_close{
    width: 10%;
    height: fit-content;
    margin-left: auto;
    padding: 10px;
    box-shadow: none;
    border: none;
    background: none;
}
@media (max-width:749px)  {

    .code{
        width: 90%;
        font-size: 13px;
    }
    #send_code{
        width: 80%;
        font-size: 17px;
    }
    .box_permition{
        max-width: 100%;
    }
}
@media(max-width:680px){
    label{
        font-size: 13px;
    }
    #radio{
        gap: 13px;
    }
}
@media(max-width:947px){
    .left{
        font-size: 18px;
    }
}
@media(max-width:843px){
    .left{
        font-size: 14px;
    }
}

@media(max-width:550px){
    .left{
        font-size: 10px;
    }
    .input{
        font-size: large;
    }
}
@media(max-width:450px){
    .left{
        font-size: 7px;
    }
    .input{
        font-size: 13px;
    }
}
